{% extends 'base.html' %}
{% block menu %}
    {% if perms.product_app.add_product %}
    <li><a href="{% url 'products:product_add' %}">Add Product</a></li>
    {% endif %}
    <li><a href="{% url 'products:basket' %}">Basket</a></li>


{% endblock %}


{% block content %}

    {% include 'partial/simple_search.html' %}

    <div class=".bg-light">
        <h1 class="main_title">Продукты</h1>

        {% for product in products %}
            <div class="guest_card card border-dark mb-5" style="max-width: 18rem;">
              <div class="card-header">
                  <span><a href="{% url 'products:product_view' product.pk %}">{{ product.product }}</a></span>
                  <span><a href="{% url 'products:basket_add' product.pk %}"><i class="fas fa-shopping-basket"></i></a></span>
              </div>
              <div class="card-body text-dark">
                <h5 class="card-title"></h5>
                    <p class="card-text">Стоимость: {{ product.cost }}</p>
                    <p class="card-text">Категория: {{ product.get_categories_display }}</p>
              </div>
            </div>
        {% endfor %}
    </div>

    {% if is_paginated %}
    {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}