{% extends 'base.html' %}


{% block menu %}
    <li><a href="{% url 'products:product_add' %}">Add Product</a></li>
    <li><a href="{% url 'products:product_update' product.id %}">Product update</a></li>
    <li><a href="{% url 'products:product_delete' product.id %}">Delete product</a></li>
    <li><a href="{% url 'products:basket_add' product.pk %}">Add to basket</a></li>


{% endblock menu %}

{% block title %}{{ product.product }}{% endblock %}



<{% block content %}



<div class="guest_card card border-dark mt-5" style="max-width: 18rem;">
      <div class="card-header">
          <span>{{ product.product }}</span>
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title"></h5>
            {% if product.description %}
                <p class="card-text">Описание : {{ product.description }}</p>
            {% else %}
                <p class="card-text">Описание не указано</p>
            {% endif %}
            <p class="card-text">Остаток: {{ product.remainder }}</p>
            <p class="card-text">Стоимость: {{ product.cost }}</p>
            <p class="card-text">Категория: {{ product.get_categories_display }}</p>
      </div>
</div>
{% endblock %}

